<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Home</h1></a>
            <p>Node JS</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, expedita pariatur autem ab corrupti veritatis. Quam blanditiis facere sunt dicta commodi, natus velit animi atque laborum accusantium minus, nulla voluptatibus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, expedita pariatur autem ab corrupti veritatis. Quam blanditiis facere sunt dicta commodi, natus velit animi atque laborum accusantium minus, nulla voluptatibus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, expedita pariatur autem ab corrupti veritatis. Quam blanditiis facere sunt dicta commodi, natus velit animi atque laborum accusantium minus, nulla voluptatibus?</p>
    </div>
</body>
</html>